<div class="page-container">
	<div role="main" class="col -sm-8 col m-offset-2" ng-controller="logCtrl">
		<div>
			<div class="bs-component container container-table">
				<table class="table table-striped table-hover table-responsive" ng-init="pagedLogs == '' ?  getLogs() : '' ;">
					<caption class="text-center">Log</caption>
					<tr>
						<th ng-click="sort('no')">
							Sr.No
							<span class="glyphicon sort-icon" ng-show="sortKey=='no'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('date')">
							Date
							<span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('time')">
							Time
							<span class="glyphicon sort-icon" ng-show="sortKey=='time'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('action_performed')">
							Action Performed
							<span class="glyphicon sort-icon" ng-show="sortKey=='action_performed'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('employee_name')">
							Employee Name
							<span class="glyphicon sort-icon" ng-show="sortKey=='employee_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('ip_address')">
							IP Address
							<span class="glyphicon sort-icon" ng-show="sortKey=='ip_address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
					</tr>
					<tr ng-repeat="log in pagedLogs[currentPage-1] | orderBy:sortKey:reverse">
						<td>{{log.no}}</td>
						<td>{{log.date}}</td>
						<td>{{log.time}}</td>
						<td>{{log.action_performed}}</td>
						<td>{{log.employee_name}}</td>
						<td>{{log.ip_address}}</td>
					</tr>
				</table>
				<paging
					page="currentPage" 
					page-size="pageSize" 
					total="total"
					scroll-top="true" 
					hide-if-empty="true"
					show-prev-next="true"
					show-first-last="true">
				</paging>
			</div>
		</div>
	</div>
</div>