<div class="page-container" ng-controller="logCtrl">
	<div role="main" class="col -sm-8 col m-offset-2" ng-controller="empCtrl">
		<div>
			<div class="bs-component container container-table">
				<table class="table table-striped table-hover table-responsive" ng-init="pagedEmployees == '' ?  getEmployees() : '' ;">
					<caption class="text-center">Employee List</caption>
					<tr>
						<th ng-click="sort('ID')">
							ID
							<span class="glyphicon sort-icon" ng-show="sortKey=='ID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('firstName')">
							Name
							<span class="glyphicon sort-icon" ng-show="sortKey=='firstName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('department')">
							Department
							<span class="glyphicon sort-icon" ng-show="sortKey=='department'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('salary')">
							Salary
							<span class="glyphicon sort-icon" ng-show="sortKey=='salary'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('experience')">
							Experience
							<span class="glyphicon sort-icon" ng-show="sortKey=='experience'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th></th>
					</tr>
					<tr ng-repeat="employee in pagedEmployees[currentPage-1] | orderBy:sortKey:reverse">
						<td>{{employee.ID}}</td>
						<td>{{employee.firstName}} {{employee.lastName}}</td>
						<td>{{employee.department}}</td>
						<td>{{employee.salary}}</td>
						<td>{{employee.experience}} years</td>
						<td>
							<a href="#" ng-click="deleteEmployee($index)">Delete</a>
						</td>
					</tr>
				</table>
				<paging
					page="currentPage" 
					page-size="pageSize" 
					total="total"
					scroll-top="true" 
					hide-if-empty="true"
					show-prev-next="true"
					show-first-last="true">
				</paging>
			</div>
		</div>
	</div>
</div>